<div id="<%= dom_id stock %>">
  <% begin %>
    <%= @ticker = StockQuote::Stock.quote(stock.ticker) %>
  <% rescue RuntimeError, NoMethodError %>
    <%= @err = "N/A" %>
  <% end %>
  <div class="col-md-6 offset-md-3">
    <div class="h-100 p-5 bg-light border rounded-3">
      <center>
      <% if !@err %>
      <img src="<%= StockQuote::Stock.logo(@ticker.symbol).url %>">
      <% end %>
        <h5><%= !@err ? @ticker.company_name : @err %></h5>
        </center>
        <p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Ticker: <%= !@err ? @ticker.symbol : @err %></li>
            <li class="list-group-item">Latest Price: $<%= !@err ? number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ",") : @err %></li>
            <li class="list-group-item">Market Cap: $<%= !@err ? number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ",") : @err %></li>
            <li class="list-group-item">52-Week High: $<%= !@err ? number_with_precision(@ticker.week52_high, :precision => 2, :delimiter => ",") : @err %></li>
          </ul>
        </p>
    </div>
  </div>
</div>
