<h1>Stockly</h1>
<br />

<%= form_with url: root_path, method: "get" do %>
    <%= text_field_tag :ticker %>
    <%= submit_tag "Look Up" %>
<% end %>

<% if @stock %>
    <%= @stock.company_name %>
<% elsif @nothing %>
    <%= @nothing %>
<% elsif @junk %>
    <%= @junk %>
<% end %>
